<div class="Languages">
  <div class="Language-select">
    <select class="Languages-btns" onchange="location = this.value;">
      {% for lang in site.languages %} {% if site.lang == lang %} 

      {% if site.default_lang == lang %}
      <option
        value="{{ site.baseurl_root }}{{ page.url }}"
        class="Language-btn"
        selected
        >{{ site.language_names[lang].full }}</option
      >
      {% else %}
      <option
        value="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}"
        class="Language-btn"
        selected
        >{{ site.language_names[lang].full }}</option
      >

      {% endif %} {% else %} {% if site.default_lang == lang %}
      <option value="{{ site.baseurl_root }}{{ page.url }}" class="Language-btn"
        >{{ site.language_names[lang].full }}</option
      >
      {% else %}
      <option
        value="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}"
        class="Language-btn"
        >{{ site.language_names[lang].full }}</option
      >

      {% endif %} {% endif %} {% endfor %}
    </select>
  </div>
</div>

<style>
  .Languages {
    padding: 1.5rem 3.5rem 2rem 3.5rem;
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    text-align: left;
    /*margin-top: 2rem;*/
    display: inline-block;
    /*position: relative;*/
  }
  .Languages .Languages-btns {
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: transparent;
    background-image: none;
  }
  .Languages .Language-select {
    position: relative;
    display: block;
    width: 10rem;
    height: 3em;
    background: transparent;
    overflow: hidden;
    opacity: 1;
    border-radius: 0.25em;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  }
  .Languages .Languages-btns {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    color: rgba(255, 255, 255, 0.875);
    cursor: pointer;
  }

  @media screen and (max-width: 736px) {
    .Languages {
    padding: .8875rem 1.75rem 1.3875rem 1.75rem;

  }
}
</style>